body{
    background-image:url(./625737373b98216393ee8a3a_62570f2df748166a2aba2fc1_reserved-seating-illustration.jpg);
}
.ts-seat {
    height: 200px;

    color: #fff;
    font-size: 3rem;
    text-decoration: none;
}

.ts-seat:hover {
    color: #fff;
    opacity: .9;
}

.available_seat {
    background-color: green;
}

.unavailable_seat {
    background-color: red;
}

